<ion-header>
  <app-header></app-header>
</ion-header>
<ion-toolbar>
  <ion-title>Mon profil</ion-title>
</ion-toolbar>


<ion-content>
  <div class="flex">
    <ion-avatar>
      <img
        src="https://media-exp1.licdn.com/dms/image/C4D03AQHzf6TfWBXQtw/profile-displayphoto-shrink_800_800/0?e=1598486400&v=beta&t=P82UCvBp0h5R2o1_TmsEHsgpg68MaQGSCkv1t25frxg">
    </ion-avatar>
    <ion-item> Benoît</ion-item>
    <ion-item> DELIGNY</ion-item>
    <ion-item> 28/07/1986</ion-item>
    <ion-item>benoitdeligny@hotmail.fr</ion-item>
  </div>
</ion-content>