ion-title {
    font-size: 18px;
    font-family: 'Roboto';
    color: var(--ion-color-primary);
    margin-top: 10px;
}

ion-list-header {
    font-size: 15px;
    font-family: 'Roboto';
    color: var(--ion-color-primary);
    margin-top: 0px;
}

.detail {
    display: flex;
    justify-content: flex-end;
}