<ion-header>
  <app-header>
  </app-header>
</ion-header>

<ion-content>
  <ion-card>
    <div class="title">
      <ion-card-title>Mon ordonnance</ion-card-title>
      <div class="subtitle">
        <ion-card-subtitle><em>Délivré par: Dr Pill le </em></ion-card-subtitle>
        <ion-datetime displayFormat="DD MM YY" disabled value="1994-12-15"></ion-datetime>
      </div>
    </div>

    <div class="drugList" *ngFor="let drugs of prescriptions">
      <ion-card-subtitle>{{drugs.name}}</ion-card-subtitle>

    </div>
    <ion-item>
      <ion-label>Matin</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Midi</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Soir</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
  </ion-card>
</ion-content>