<ion-tabs>

  <ion-tab-bar slot="ordonnance">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ordonnance">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Ordonnances</ion-label>
    </ion-tab-button>

   

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
