<ion-header>
  <div class="login-header">
    <img class="logo-img" src="assets/doctolib-logo-vector.svg">
    <p class="color-title">Suivi</p>
  </div>
</ion-header>
<ion-content>
  <div class="login-content">
    <ion-list>
      <ion-item>
        <ion-input placeholder="Adresse-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Mot de passe" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block">Connexion</ion-button>
  </div>
</ion-content>