
<app-header></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ordonnance en cours</ion-card-subtitle>
      <ion-card-title>18/06/2020</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !   
      </div>
    
   Voir les détails
    </ion-card-content>
  </ion-card>
  <p></p>
  <ion-searchbar placeholder="Cherche une ancienne ordonnance" [value]="searchedValue"></ion-searchbar>

</ion-content>
