

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ordonnance en cours</ion-card-subtitle>
      <ion-card-title>18/06/2020</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !
        OUAIS LA MOULAGAX DONNEZ MOI DE LA MOULAGAX !   
      </div>
    
   <span>voir les détails</span> 
    </ion-card-content>
  </ion-card>
</ion-content>
